@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: "TikTok Sans", sans-serif;
}
.navbar{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 13vh;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    & h1{
        font-size: 40px;
        font-weight: 900;
    }
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    width: 120px;
    position: relative;
    text-align: center;
    padding: 7px 0;
    border-radius: 5px;
    transition: 0.3s all;
    & #down{
        position: absolute;
        top: 8px;
        padding-left: 5px;
    }
}
.navbar ul li:hover{
    transition: 0.3s all;
    background-color: rgba(128, 128, 128, 0.453);
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.navbar ul li .dropdown{
    top: 35px;
    display: none;
    position: absolute;
    width: 160px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
    & li{
        margin-top: 5px;
        width: 150px;
        padding-left: 20px;
        text-align: left;
    }
}
.navbar ul li:hover .dropdown{
    display: block;
    

}
.navbar .icon{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    & #icon{
        font-size: 18px;
        cursor: pointer;
    }
    & .active{
        top: 2%;
        left: 61%;
        width: 14px;
        height: 14px;
        background-color: rgb(0, 213, 255);
        position: absolute;
        color: white;
        font-weight: 700;
        text-align: center;
        place-content: center;
        border-radius: 50%;
        font-size: 10px;
    }
    & .active-1{
        top: 2%;
        right: 15%;
        width: 14px;
        height: 14px;
        background-color: rgb(0, 208, 255);
        position: absolute;
        color: white;
        font-weight: 700;
        text-align: center;
        place-content: center;
        border-radius: 50%;
        font-size: 10px;
    }
}
.main-contain{
    width: 100%;
    height: 88vh;
    background-image: url(https://th.bing.com/th/id/OIP.9DVbOtuuJOTHSAlEYPGl_wHaE8?w=283&h=190&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    & .text-contain{
        position: absolute;
        text-align: center;
        place-content: center;
        top: 10%;
        left: 6%;
        width: 45%;
        height: 500px;

        & h3{
            font-size: 50px;
            font-family: "Dancing Script", cursive;
            padding-bottom: 15px;
            color: rgb(65, 8, 103);
        }
        & h1{
            font-size: 70px;
            padding-bottom: 15px;
            color: white;
        }
        & h2{
            font-size: 40px;
            color: white;
            font-weight: 400;
            padding-bottom: 15px;
        }
        & .btn{
            margin-top: 35px;
            width: auto;
            height: auto;
            display: flex;
            gap: 40px;
            justify-content: center;
            & button{
                padding: 15px 25px;
                font-size: 16px;
                background-color: rgb(172, 12, 12);
                color: white;
                border: none;
                border-radius: 5px;
                transition: 0.3s all;
            }

            & button:last-child{
                background-color: white;
                color: brown;
                border: 2px solid rgb(220, 26, 26);
            }
            & button:hover{
                transition: 0.3s all;
                transform: scale(1.1);
                background-color: rgb(21, 176, 247);
            }
        }
    }

}
.about{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    & .box2{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 15px;
        width: 300px;
        height: 120px;
        margin-top: 20px;
        & #icon{
            font-size: 50px;
            color: rgb(85, 183, 236);
        }
    }
    & .text-box{
        width: auto;
        height: auto;
        & h3{
            font-size: 20px;
            padding-bottom: 15px;
        }
        & p{
            color: grey;
        }
    }
}
.my-section{
    width: 90%;
    height: 70vh;
    margin:auto;
    display: flex;
    gap: 30px;
}
.my-section .block1{
    width: 50%;
    height: 100%;
    background-color: rosybrown;
    border-radius: 10px;
    
    position: relative;
    & img{

        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    & .text-contain{
        width: auto;
        height: auto;
        text-align: end;
        position: absolute;
        top: 10px;
        right: 8px;
    
    & h4{
        font-size: 25px;
        color: rgb(0, 208, 255);
        padding-bottom: 10px;
    }
    & h1{
        font-size: 45px;
        padding-bottom: 20px;

    }
    & p{
        color: gray;
        font-size: 25px;

    }
    & button{
        padding: 10px;
        background-color: transparent;
        font-size: 16px;
        border-radius: 18px;
        margin-top: 20px;
    }
  }
}
.my-section .block2{
    width: 50%;
    height: 105%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    
    & .item{
        top: 0;
        width: 335px;
        height: 290px;
        background-color: brown;
        border-radius: 10px;
    }
    & .item:nth-child(1){
        position: relative;
        height: 200px;
        & .text-contain{
            position: absolute;
            top: 7%;
            left: 5%;
            width: auto;
            height: auto;
        }
        & h4{
            background-color: rgb(0, 110, 255);
            width: 70px;
            text-align: center;
            height: 30px;
            padding-top: 5px;
            color: rgb(248, 246, 246);
            padding-bottom: 10px;
        }
        & h1{
            margin-top: 10px;
            font-size: 30px;
            color: rgb(13, 13, 13);
            font-weight: 800;
            padding-bottom: 20px;
        }
        & button{
            border: none;
            background-color: transparent;
            font-size: 16px;
            border-radius: 18px;
            color: rgb(69, 50, 50);
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    & .item:nth-child(2){
        position: relative;
        height: 200px;
        & .text-contain{
            position: absolute;
            top: 7%;
            left: 5%;
            width: auto;
            height: auto;
        }
        & h4{
            background-color: rgb(0, 110, 255);
            width: 70px;
            text-align: center;
            height: 30px;
            padding-top: 5px;
            color: white;
            padding-bottom: 10px;
        }
        & h1{
            margin-top: 10px;
            font-size: 30px;
            color: white;
            font-weight: 800;
            padding-bottom: 20px;
        }
        & p{
            color: grey;
            font-size: 25px;
            padding-bottom: 20px;
        }
        & button{
            border: none;
            background-color: transparent;
            font-size: 16px;
            border-radius: 18px;
            color: white;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    & .item:nth-child(3){
        width: 700px;
        height: 220px;
        bottom: 20px;
        background-color: greenyellow;
        grid-column: span 2;
        position: relative;
        & .text-contain{
            position: absolute;
            top: 7%;
            left: 5%;
            width: auto;
            height: auto;
        }
        & h4{
            height: 30px;
            padding-top: 5px;
            color: white;
            padding-bottom: 10px;
        }
        & h1{
            margin-top: 10px;
            font-size: 30px;
            color: white;
            font-weight: 800;
            padding-bottom: 20px;
        }
        & p{
            color: grey;
            font-size: 25px;
            padding-bottom: 20px;
        }
        & button{
            margin-top: 25px;
            border: none;
            background-color: transparent;
            font-size: 16px;
            border-radius: 18px;
            color: white;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

}

.Products .item{
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: grid;
    padding-bottom: 30px;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
    & .card{
        position: relative;
        width: 260px;
        height: 350px;
        padding: 4px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        transition: 0.3s all;
        & img{
            width: 100%;
            height: 70%;
            object-fit: cover;
        }
        & p{
            padding-bottom: 8px;
            font-size: 14px;
        }
        & h5{
            padding-bottom: 8px;
            font-weight: 500;
        }
        & .star{
            width: 100%;
            height: auto;
            display: flex;
            gap: 5px;
            & #icon{
                color: orange;
            }
        }
        & .dis{
            transition: 0.3s all;
            width: 100%;
            height: auto;
            position: absolute;
            top: 2%;
            display: none;
            & p{
                width: 70px;
                height: 25px;
                background-color: green;
                font-size: 15px;
                padding-top: 4px;
                color: white;
                text-align: center;
            }
        }
    }
    & .card:hover{
        transition: 0.3 all;
        & .dis{
            display: block;
        }
    }
}
.my-section2{
    width: 70%;
    height: 40vh;
    
    margin: auto;
    gap: 30px;
    display: flex;
     
}
.my-section2 .blok1{
    width: 50%;
    height: 100%;
    background-color: brown;
    border-radius: 10px;
    position: relative;
    & img{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    & .text-contain{
        width: auto;
        height: auto;
        text-align: end;
        position: absolute;
        top: 10%;
        left: 8%;
        & h4{
            font-size: 25px;
            color: rgb(0, 110, 255);
            padding-bottom: 10px;
        }
        & h1{
            font-size: 25px;
            padding-bottom: 20px;
        }
        & p{
            color: grey;
            font-size: 25px;
            padding-bottom: 20px;
        }
        & button{
            padding: 10px 20px;
            background-color: bisque;
            font-size: 16px;
            border-radius: 18px;
            margin-top: 20px;
        }
    }

}
.my-section2 .blok2{
    width: 50%;
    height: 100%;
    background-color: palevioletred;
    border-radius: 10px;
    position: relative;
    & img{
        margin-top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    & .text-contain{
        width: auto;
        height: auto;
        text-align: end;
        position: absolute;
        top: 10%;
        left: 5%;
        & h4{
            
            font-size: 25px;
            color: rgb(0, 110, 255);
            padding-bottom: 10px;
        }
        & h1{
            font-size: 25px;
            padding-bottom: 20px;
        }
        & p{
            color: grey;
            font-size: 25px;
            padding-bottom: 20px;
        }
        & button{
            padding: 10px 20px;
            background-color: bisque;
            font-size: 16px;
            border-radius: 18px;
            margin-top: 20px;
        }
    }

}
.footer{
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    & .block-address{
        width: 30%;
        height: auto;
        & h3{
            color: white;
            font-size: 25px;
            padding-bottom: 10px;
        }
        & p{
            color: white;
            padding-bottom: 20px;
        }
    }
    & .block-contact{
        width: 20%;
        height: auto;
        & h3{
            color: white;
            font-size: 25px;
            padding-bottom: 40px;
        }
        & ul{
            display: flex;
            gap: 15px;
            & li{
                list-style: none;
                padding-bottom: 35px;
            }
            & a{
                text-decoration: none;
                color: black;
                & #icon{
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    place-content: center;
                    border-radius: 50%;
                    transition: 0.2s all;
                }
                & #icon:hover{
                    transition: 0.2s all;
                    background-color: orange;
                }
            }
        }
        & h4{
            color: white;
            font-size: 20px;
        }
    }
    & .block-link{
        width: auto;
        height: auto;
        & h3{
            color: white;
            font-size: 25px;
        }
        & ul{
            & li{
                margin-top: 17px;
                list-style: none;
            }
            & a{
                text-decoration: none;
                color: white;
                & #icon{
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    place-content: center;
                    border-radius: 50%;
                }
            }
        }
        & h4{
            color: white;
            font-size: 20px;
        }
    }
}


